.timeTableWrap {
  width: 100%;
  height: 480px;
  display: flex;
  flex-grow: 1;
  flex-wrap: nowrap;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
}