$viva-magenta: #BB2649;
$pale-dogwood: #EDCDC2;
$gray-sand: #E5CCAE;
$gray-lilac: #D4C9CD;

$gray0: #f8f9fa;
$gray1: #f1f3f5;
$gray2: #e9ecef;
$gray3: #dee2e6;
$gray4: #ced4da;
$gray5: #adb5bd;
$gray6: #868e96;
$gray7: #495057;
$gray8: #343a40;
$gray9: #212529;

$red: #BE1831;
$blue: #0F4C81;
