@use '@/styles/constants/colors';

.navBtn {
  height: 100%;
  width: 52px;
  border: none;
  border-radius: 4px;
  padding: 0 8px;
  background: none;
  transition: 150ms;
  
  &.hover {
    background-color: colors.$gray-sand;
  }

  svg {
    width: 24px;
    height: 24px;
    fill: colors.$viva-magenta;
    opacity: 30%;
  }

  .title {
    color: colors.$viva-magenta;
    font-size: 10px;
    opacity: 30%;
  }

  &.selected {
    svg {
      opacity: 100%;
    }

    .title {
      opacity: 100%;
    }
  }
}