@use '@/styles/constants/colors';
@use '@/styles/constants/levels';

.main {
  width: 100%;
  height: 200vh;
  // min-height: 100vh;
  position: relative;
  padding-top: 84px;
  color: colors.$gray0;
  background: linear-gradient(colors.$blue, colors.$red);
  border: 1px solid black;
  z-index: levels.$ground;
}
