@use '@/styles/constants/colors';

.weekHeader {
  width: 100%;
  height: 18px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  button.week {
    width: 100%;
    color: colors.$gray9;
    font-weight: 300;
    text-align: center;
    transition: font-weight 100ms;

    &:hover {
      font-weight: 700;
    }

    &.holiday {
      color: colors.$red;
    }

    &.semi-holiday {
      color: colors.$blue;
    }
  }
}