@use '@/styles/constants/colors';

.weekHeader {
  width: 100%;
  height: 18px;
  font-size: 14px;
  font-weight: 300;
  display: flex;
  
  .week {
    color: colors.$gray9;

    &.part-holiday {
      color: colors.$blue;
    }

    &.holiday {
      color: colors.$red;
    }
  }
}