@use '@/styles/constants/colors';
@use '@/styles/constants/levels';

.header {
  height: 84px;
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: colors.$viva-magenta;
  z-index: levels.$nav;
}