@use '@/styles/constants/colors';

.navBtn {
  height: 100%;
  width: 52px;
  border: none;
  border-radius: 4px;
  padding: 0 8px;
  background: none;
  transition: 150ms;

  &.hover {
    background-color: colors.$gray-sand;
  }

  svg {
    width: 24px;
    height: 24px;
    fill: rgba(colors.$gray6, 50%);
  }

  .title {
    font-size: 10px;
    color: rgba(colors.$gray6, 50%);
  }

  &.selected {
    svg {
      opacity: 100%;
      fill: colors.$viva-magenta;
    }

    .title {
      opacity: 100%;
      color: colors.$viva-magenta;
    }
  }
}